<div class="flex justify-center py-9">
    <div class="flex gap-9">
        <div class="relative">
            <input type="file" class="opacity-0 absolute z-50 w-full h-full cursor-pointer" />
            <div class="relative border-dashed border-2 border-gray-400 rounded-full p-3">
                <img src="../../../assets/img/userlogo.jpg" alt="" width="180" class="rounded-full">
            </div>
        </div>

        <div class="pt-10">
            <p>Aaron Jauregui</p>
            <ul class="flex gap-5">
                <li>Posts: 24</li>
                <li>Followers: 96</li>
                <li>Following: 296</li>
            </ul>
        </div>
    </div>
</div>

<hr>

<h3 class="mt-5 text-center">Posts</h3>
<div class="">
    Posts aqui
</div>